/* *, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} */

.background {
    background-color: #F0F0F0;
}

/* Overridden from semantic css */
.prompt {
    border-radius: 0px !important;
}

/* Overridden from semantic css */
.ui.input {
    display: flex !important;
}

.component-vertical-padding {
    padding-bottom: 8px !important;
    padding-top: 8px !important;    
}

.element-padding-vertical {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

/* Overridden from semantic css */
.ui.header {
    margin: 0rem !important;
}

/* Overridden from semantic css */
.ui.segment {
    margin: 0rem !important;
}

.h-100 {
    height: 100%;
}

hr { margin-top: 8px; margin-bottom: 8px; }

.flex-grow {
    flex: 1 0 auto;
}

.scrollable {
    overflow-y:scroll;
}

.action-button {
    color: #000000;
    background: #dbdbdb;
    font-family: Courier New;
    font-size: 21px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer; }
.action-button:hover {
      background: #b3b3b3; }
.action-button:active {
      top: 1px;
      position: relative; 
}

.search-results-container {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.results-header-cell {
    padding: 16px; 
}
  
.results-header-cell > h2 {
    display: inline;
    padding: 0px;
}
  
.results-header-cell-border-left {
    border-left: 2.5px solid #000000; 
}
  
.results-header-cell-border-right {
    border-right: 2.5px solid #000000; 
}
  
.results-header-cell-border-both {
    border-left: 2.5px solid #000000;
    border-right: 2.5px solid #000000; 
}

.single-result-body {
    background: #92764C;
    
    margin-left: 0.5px;
    margin-right: 0.5px;
    margin-top: 5px;

    padding-top: 16px;
    padding-bottom: 16px; 
}
  
  
.single-result-body-cell-divider {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;
    align-self: stretch;
    margin-left: 8px;
    margin-right: 8px; 
}

.flatRate-dollar-text {
    font-weight: 900;
    font-size: 130%;
    text-align: center; 
}
  
.flatRate-permile-text {
    font-size: 90%;
    text-align: center; 
}
  
.container-test {
    background-color: #267dc0;
}


/* Carrier Page styling here */
.container-md {
    min-height: 350px;
    max-height: 350px;
}


  
  #contact-row-container {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
 }
    
  #carrier-detail-division-bar {
    border-width: 1px;
    border-style: solid;
    border-color: #000000; }
  
  #carrier-page-header-title {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: bold; }
  
  #single-lane-component-row {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
  
  .display-header-image {
    border-width: 1.5px;
    border-style: solid;
    border-color: #000000;
}


/* Button classes utility */
.button-size-sm {
    padding: 5px 10px 5px 10px;
}

.button-size-md {
    padding: 10px 20px 10px 20px;
}

.button-size-lg {
    padding: 15px 30px 15px 30px;
}


/* Utility classes below */

/* Div utils */
.bottom-buffer-sm {
    margin-bottom: 4px;
}

.bottom-buffer-md {
    margin-bottom: 8px;
}

.bottom-buffer-lg {
    margin-top: 16px;
}

.top-buffer-sm {
    margin-top: 4px;
}

.top-buffer-md {
    margin-top: 8px;
}

.top-buffer-lg {
    margin-top: 16px;
}

.top-buffer-extreme {
    margin-top: 64px;
}

.box-margin-sm {
    margin: 4px;
}

.box-margin-md {
    margin: 8px;
}

.box-margin-lg {
    margin: 16px;
}

.zero-margin {
    margin: 0px;
}

.box-margin-extreme {
    margin: 64px;
}

.box-padding-sm {
    padding: 4px;
}

.box-padding-md {
    padding: 8px;
}

.box-padding-lg {
    padding: 16px;
}

.zero-padding {
    padding: 0px;
}

.font-size-sm {
    font-size: 12px;
}

.font-size-md {
    font-size: 20px;
}

.font-size-lg {
    font-size: 28px;
}

.border-xsm {
    border-width: 0.5px;
    border-style: solid;
    border-color: #000000;
}

.border-sm {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

/* Text utility classes below */
.text-color-white {
    color: white;
}

.text-color-red {
    color: red;
}

.text-color-green {
    color: green
}

.text-color-grey {
    color: #696969
}

.text-color-transparent {
    color: transparent;
}

.text-bold {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

/* Backgrounds below */
.background-red {
    background: red;
}

.background-green {
    background: green;
}

.background-blue {
    background: blue;
}

.background-white {
    background: white;
}

.background-purple {
    background: purple
}

.background-cream100 {
    background: #F1E8DC;
}

.background-grey100 {
    background-color: #f1f1f1;
}

.background-grey500 {
    background-color: #ABABAB;
}

/* Border classes below*/
.border-radius-small {
    border-radius: 5px;
}

.border-radius-md {
    border-radius: 10px
}

.border-radius-lg {
    border-radius: 20px
}

.border-radius-extreme {
    border-radius: 50px
}

.border-error {
    border: 2px solid red;
}

.border-error:focus {
    border: 2px solid transparent;
}

.border-ok {
    border: 2px solid transparent;
}

.border-ok:focus {
    border-color: #267dc0;
    box-shadow: 0 0 0 transparent;
}

/* Geosuggest classes below */
/**
* The geosuggest module
* NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
*/
.geosuggest {
    font-size: 18px;
    font-size: 1rem;
    position: relative;
    text-align: left;
}
.geosuggest__input {
    width: 100%;
    box-shadow: 0 0 1px #3d464d;
    padding: .5em 1em;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
            transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background: #f1f1f1;
    border: 2px solid #267dc0;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
            transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}
  
/**
* A geosuggest item
*/
.geosuggest__item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
    background: #f5f5f5;
}
.geosuggest__item--active {
    background: #267dc0;
    color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
    background: #ccc;
}
.geosuggest__item__matched-text {
    font-weight: bold;
}

.input-text {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: bold; 
}
